* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}
body {
    background: linear-gradient(45deg, rgb(242, 247, 255), #fbfcff);
    height: 100vh;
}
header {
    padding: 32px;
    text-align: center;
}
.container {
  text-align: center;
}
.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(45deg, #4157e6, #b63ae8);
  margin-bottom: 20px;
}
.icon-box svg {
  width: 35px;
  height: 35px;
  color: #fff;
}
header h1 {
    font-weight: 500;
    font-size: 36px;
    color: black;
}
#wordsCount {
    color: #4157e6;
    margin-right: 5px;
}
header p {
    line-height: 3;
    font-size: 18px;
    color: #666;
}
.main {
   margin: 0 auto;
  max-width: 80%;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.form-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.form-heading p{
    font-weight: 500;
    font-size: 20px;
    color:black;
}
.form {
  flex: 1;
  border: 1px solid #ddd;
}
.result-box {
  flex: 1;
  border: 1px solid #ddd;
}   
.form, .result-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
textarea {
    font-size: 14px;
  margin-top: 20px;
  width: 100%;
  height: 300px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  background: rgb(242, 242, 245)
}
.select-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.select-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  text-align: left;
  transition: 0.3s;
}
.select-btn:hover {
  background: #eaecf1a8;
}
.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #aaa;
}
.select-btn.active {
  background: #eaecf1a8;
}
.select-btn.active .bullet {
  background: #191b65;
}
.text h4 {
  font-weight: 200;
  font-size: 14px;
  color: black;
}
.text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
 #generateBtn{
  background: linear-gradient(45deg, #4157e6, #b63ae8);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
#generateBtn:hover {
  background: linear-gradient(45deg, #6675e7, #bb6eda);
  cursor: not-allowed;
}
.result-box p {
  font-weight: 500;
    font-size: 20px;
    color:black;
}
.result-box .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.default {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #afafb5;
}
.default h4 {
  font-weight: 200;
  font-size: 20px;
}
.default p {
    font-size: 15px;
 color: #afafb5;
}
.output svg{
    color: #afafb5;
    width: 60px;
    height: 60px;
}
#copy-btn{
  padding: 6px 15px;
  border-radius: 7px;
  border: 1px solid gray;
  background: white;
}
#copy-btn:hover{
  background: rgb(244, 242, 242);
}
.output {
  position: relative; 
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  min-height: 300px;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.copy-btn:hover {
  background-color: #e3e2f5;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    width: 100%;
  }
}